html,body{
  height: 100vh;
  width: 100%;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  display: table;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.item{
	background-color: #e6e6e6;
}
.item:hover{
	background-color: white;
	box-shadow: -5px 0px  #8489e0;




}



.teal-outline{
  color: rgb(175, 175, 175);
  background-color: rgba(16, 130, 128,0.5);
}
.teal-outline:hover{
  background-color: #108280;
  color: white;
}
h2{
  color:white;
}
.loginpic{
	background-image: url('./img/Login.svg');
	background-size:contain;
	background-repeat: no-repeat;
	height: 200px;
	width: 200px;
	padding: 200px;
}
.form-box{
	border: 3px solid #000000;
	margin: 5px;
	padding: 10px;
}

.page{
  position: relative;
  width: 100%;
  padding-top: 7vh;
  padding-bottom: 4vh;
  min-height: 100vh;
  box-sizing: border-box;
}
.homebg{

  background: url('./img/Website\ BG.jpg') no-repeat;
  background-position: right;
  background-size: cover;
  background-attachment: fixed;
}

.footer {
  position: fixed;
  width: 100%;
  height: 6vh;
  bottom: 0;
}
.footer .container{
  padding-top: 1.5vh;
  font-size: 2vh;
}
.hov{
  display: inline-block;
  position: relative;
}
.hov:hover:after{
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.hov:after {
	content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
	transition: opacity 0.35s, transform 0.35s;
	transform: scale(0,1);
}
.tag{
	padding: 100em, 100em;
	font-size: 1em;
}
.wrapper{
  display: inline-block;
}
.plus-grow{
  height: 1em;
  width: 1em;
  cursor: pointer;
  font-size: 1em;
  border: none;
}
.plus-grow:hover{
  border: 1px solid white;
}
